:host {
  display: flex;
  flex-flow: row;
  flex-direction: column;
}

$background: #0000fe;
$selected-color: yellow;
$font: fantasy;
ul {
  display: flex;
  justify-content: space-between;
//  width: 50%;

  li {

    list-style-image: none;
    list-style-type: none;
    .selected {
      color: yellow;
      border-color: $selected-color;
    }
    label {
      color: white;
      background-color: $background;
      border-color: $background;
      border-style: solid;
      border-radius: 5px;
      padding: 10px;
      font-family: $font;

      cursor: pointer;
      .selected {
        color: yellow;
        background-color: green;
      }
    }
  }
}

.answer-button{
  font-family: $font;
  background-color: $background;
  color: white;
  align-self: center;
  display: flex;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  justify-self: flex-end;
  padding: 10px;
  margin-top: 10px;
  &[disabled] {
    background-color: gray;
  }
}
