<mat-table [dataSource]="answers">
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> Who? </mat-header-cell>
    <mat-cell *matCellDef="let answer"> {{answer.user.fullName}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="questiontext">
    <mat-header-cell *matHeaderCellDef> Question </mat-header-cell>
    <mat-cell *matCellDef="let answer"> {{answer.question.text}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="answertext">
    <mat-header-cell *matHeaderCellDef> Answer </mat-header-cell>
    <mat-cell *matCellDef="let answer"> {{answer.answer.text}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="correct">
    <mat-header-cell *matHeaderCellDef> Correct? </mat-header-cell>
    <mat-cell *matCellDef="let answer"> {{answer.answer.isCorrect? 'Yes' : 'No'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
